body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  width: 30rem;
  margin-right: 1rem;
}

#products {
  list-style: none;
  margin: 0;
  padding: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, 35rem);
  gap: 2rem;
}

.product {
  height: 100%;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding-left: 1rem;
  padding-bottom: 1rem;
}
.product img {
  border-radius: 6px;
}

.product button {
  padding: 0;
  background-color: rgb(190, 190, 190);
  border-radius: 5px;
  width: 30rem;
  height: 3rem;
  text-align: center;
  font-weight: bold;
}
.product button:hover {
  background-color: rgb(156, 156, 156);
}

.product-content {
  flex: 1;
  padding: 0.1rem 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  border-radius: 5px;
  font-size: 0.9rem;
}

#shop h1 {
  padding-left: 2rem;
  padding-top: 1rem;
}

#modal {
  width: 30%;
  background: #b6b6b5;
  border: none;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: fade-slide-in-from-top 0.3s ease-in-out;
}
#modal::backdrop {
  background: rgba(0, 0, 0, 0.65);
}

#modal h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0;
}
#cart-items {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#cart-items li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 0.9rem;
}
.cart-name {
  text-transform: uppercase;
  /*  font-weight: bold; */
  font-size: large;
}

.cart-price {
  font-size: large;
  font-weight: bold;
}
.cart-item-actions {
  font-size: 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.cart-item-actions button {
  background: transparent;
  border-radius: 5px;
  color: #201e1a;
  cursor: pointer;
  font-size: 1.1rem;
}

.cart-item-actions button:hover {
  background: #464646;
}
.cart-item-actions button:first-of-type {
  padding-bottom: 0.2rem;
}

#cart-total-price {
  text-align: right;
}

#modal form {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
}

#modal form button {
  background: transparent;
  border: none;
  border-radius: 5px;
  color: #525151;
  cursor: pointer;
  font-size: 1.1rem;
}

#modal form button:hover {
  color: #020202;
}

#modal form button:last-of-type {
  background: #3a3a3a;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  color: #f9efda;
  font-size: 1rem;
  cursor: pointer;
}

#modal form button:last-of-type:hover {
  background: #252525;
}

#checkout {
  animation: fade-slide-in-from-right 0.3s ease-in-out;
}

.qr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  display: flex;
  text-align: center;
}
#checkout label {
  display: block;
  margin-bottom: 0.5rem;
}

#checkout input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  margin-bottom: 1rem;
}

.popuplogin {
  display: flex;
  flex-direction: column;
  border: black solid 1px;
  background-color: rgb(211, 204, 204);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5rem;
  width: 15rem;
  right: 1rem;
  height: 21rem;
}

.popuplogin input {
  margin-bottom: 1rem;
  border: black solid 0.5px;
  border-radius: 5px;
}

.popuplogin button {
  margin-bottom: 1rem;
  padding-bottom: 0;
  width: 8rem;
  border-radius: 5px;
  background-color: rgb(190, 190, 190);
  font-weight: bold;
}

.popuplogin p {
  font-weight: bold;
}

.popuplogin button:hover {
  background-color: rgb(156, 156, 156);
}

.popupRegister {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  border: black solid 1px;
  background-color: rgb(211, 204, 204);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5rem;
  width: 15rem;
  right: 1rem;
  height: 25rem;
}

.popupRegister input {
  margin-bottom: 1rem;
  border: black solid 0.5px;
  border-radius: 5px;
}

.popupRegister button {
  margin-bottom: 1rem;
  padding-bottom: 0;
  width: 8rem;
  border-radius: 5px;
  background-color: rgb(190, 190, 190);
  font-weight: bold;
}

.popupRegister button:hover {
  background-color: rgb(156, 156, 156);
}

.popupRegister p {
  font-weight: bold;
}

.newItem {
  position: fixed;
  top: 2rem;
  left: 30rem;
  right: 30rem;
  background-color: #ccc9c4;
  margin: 5rem;
  padding: 1rem;
  border: solid black 2px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.newItem div {
  display: flex;
  width: 100%;
  justify-content: center;
}

.newItem input,
textarea {
  border-radius: 5px;
  border: solid black 1px;
  margin-bottom: 1rem;
}

.newItem button {
  margin: 1rem;
  margin-left: 5rem;
  margin-right: 5rem;
  width: 10rem;
  height: 2rem;
  justify-content: space-between;
  flex-wrap: nowrap;
  font-weight: bold;
  background-color: #a09f9f;
  border-radius: 5px;
}

.newItem button:hover {
  background-color: #888888;
}
.nameItem {
  width: 30rem;
}

.priceItem {
  width: 6rem;
}
.amountItem {
  width: 6rem;
}
.dateItem {
  width: 7rem;
}

.imgItem::-webkit-file-upload-button {
  cursor: pointer;
}

@keyframes fade-slide-in-from-top {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-slide-in-from-right {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
